.mainTop img{
    width: 100%;
}
.mainTitle{
    width: 100%;
    display: block;
    background: url(../images/about_03.png) no-repeat center center;
    background-size: initial;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    /* he */
}
.mainTitle h2{
    text-align: center;
    font-family: Arial Black;
    font-size: 33px;
    color: #e83a36;
    font-weight: 0;
    letter-spacing: 0;
    line-height: 1.8em;
}

.mainList{
    display: flex;
    /* padding: 50px 50px; */
    justify-content:space-between;
    flex-wrap: wrap;
}
/* .mainList::after{
    content: '';
    width: auto;
} */
.mainList .item{
    padding-top: 30px;
    /* padding: 50px 20px; */
    width: 31%;
    box-sizing: border-box;
}
.mainList .card-body div{
    text-align: left;
}

.card:hover{
    box-shadow: 0 0 12px #949494;
}

@media (max-width: 995px) {
    .mainList .item{
        width: 100%
    }
}