
.mainTitle {
    width: 100%;
}
.mainTitle h2{
    font-size: 30px;
    color: #333;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.8em;
    text-align: center;
}
.mainInter{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #545454;
    letter-spacing: 0.05px;
}
.formMain{
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contactInfo{
    width: 58%;
    background-color: #aaa;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-right-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 22px;
    margin-right: 4px;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
}

.contactUs{
    width: 40%;
    text-align: center;
    background-color: #aaa;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 240px;
    padding-left: 0;
    margin-top: 22px;
}
.el-form-item__content {
    margin-left: 0 !important;
}
@media (max-width: 800px) {
    .contactInfo{
        width: 100%;
    }
    .contactUs{
        width: 100%;
    }
}